<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>猫</p>
<p>
  <strong>年齢:</strong>
  <%= @user.age %>
</p>
<P>表題<P>
<div>sample3</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
